@using Employee_Management_System.ViewModels
@model AddViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>x</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div>
        
        <div class="input-group mb-3">
            <input asp-for="Name" type="text" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <input asp-for="Surname" type="text" class="form-control" placeholder="Surname">
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>  
        <div class="input-group mb-3">
            <input asp-for="FatherName" type="text" class="form-control" placeholder="FatherName">
            <span asp-validation-for="FatherName" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <input asp-for="FIN" type="text" class="form-control" placeholder="FIN">
            <span asp-validation-for="FIN" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <input asp-for="Email" type="text" class="form-control" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-secondary">Send</button>

</div>
    </body>
</html>
